<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{% if page.title %}{{ page.title | downcase | append: " :: " | append: site.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
	<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description | strip_newlines }}{% endif %}">

	<link rel="stylesheet" href="{{ site.baseurl }}/static/css/main.css">
	{% if page.css %}
		{% for stylesheet in page.css %}
	<link rel="stylesheet" href="{{ site.baseurl }}/static/css/{{ stylesheet }}.css">
		{% endfor %}
	{% endif %}
	{% if page.js %}
		{% for script in page.js %}
	<script defer src="{{ site.baseurl }}/static/js/{{ script }}.js"></script>
		{% endfor %}
	{% endif %}
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
	<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
</head>
