<nav>
	<a href="{{ site.baseurl }}/about">About</a>
	<a href="{{ site.baseurl }}/projects">Projects</a>
	<a href="{{ site.baseurl }}/blog">Blog</a>
	<a href="{{ site.baseurl }}/cv">CV</a>
	<a href="{{ site.baseurl }}/contact">Contact</a>
</nav>
