---
---
@charset "utf-8";

$background: #202020;

$primary: lightgrey;
$accent: crimson;

$font-stack: -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;

@import "layout";
