* {
	box-sizing: border-box;
}

html {
	line-height: 1.6;

	background-color: $background;
	color: $primary;
	font-family: $font-stack;
}

body {
	width: 700px;
	max-width: 100%;
	padding: 0 1em;
	margin: 0 auto;
}

a {
    border-bottom: 3px solid $primary;

	color: inherit;
    text-decoration: none;

	&:hover {
        // This is pretty nice but doesn't go with the bottom border
        // TODO: Decide between border or color.
		// color: $accent;
        border-color: $accent;
	}
}

header {
	margin: 0 auto 3em auto;

	h1 {
		margin: 2rem 0 0 0;
	}
}

nav {
	a {
		margin-right: .5em;
	}
}

footer {
	position: relative;

	span {
		&:last-child {
			position: absolute;
			right: 0;
		}
	}
}
